VITE_ENABLE_DEMO_MODE=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=

# Backups Automáticos (GitHub Actions Secrets & Google Drive)
SUPABASE_SERVICE_ROLE_KEY=
GDRIVE_SERVICE_ACCOUNT_KEY=
GDRIVE_FOLDER_ID=
GDRIVE_BACKUP_EMAIL=bmdcayo@gmail.com
